/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Noto Sans';
}
h2 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}
p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin: 0;
  padding: 0;
}
.block {
  background: #FFDB4C;
  padding: 0;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.block-bg {
  background-color: #065A97;
  padding: 30px 0;
}
.block-bg-copyright {
  background-color: #003f6d;
  padding: 30px 0;
}
.line {
  border-top: 1px solid #e9eff3;
  margin-top: 25px;
  margin-bottom: 25px;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
@media only screen and (max-width: 992px) {
  .col-md-5--padding-0 {
    padding-bottom: 20px;
  }
  .col-md-7--padding-0 {
    padding-bottom: 20px;
  }
}
/* Small Devices, Tablets - adaptive styles bofore 768px */
@media only screen and (max-width: 768px) {
  .col-md-5--padding-0 {
    padding-bottom: 20px;
  }
  .col-md-7--padding-0 {
    padding-bottom: 20px;
  }
}
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.navigation {
  float: right;
  font-size: 14px;
  font-family: "Lato";
  font-weight: bold;
  margin-top: 50px;
  line-height: 1.143;
  text-transform: uppercase;
}
.navigation .navigation__toggle {
  font-size: 28px;
  color: #ffd700;
  display: block;
  right: 20px;
  z-index: 2;
}
@media (min-width: 768px) {
  .navigation .navigation__toggle {
    display: none;
  }
}
.navigation .navigation__toggle--fixed {
  position: fixed;
}
.navigation ul.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(27, 35, 17, 0.95);
  display: none;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
    position: relative;
    background: none;
  }
}
.navigation ul.navigation__list--open {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.navigation ul.navigation__list li {
  margin: 0 0 40px;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 30px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0;
  }
}
.navigation a {
  color: #FFF;
  text-decoration: none;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #ffd700;
}
.header {
  position: relative;
  width: 100%;
  margin-bottom: 47px;
  height: 500px;
  background-color: #10131c;
  background-image: url("../img/bg/Layer-bg-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  .header {
    height: 620px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 720px;
  }
}
.logo {
  float: left;
  margin-top: 45px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 0.533;
  cursor: pointer;
}
@media (min-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 30px;
  }
}
.logo a {
  color: #FFF;
  text-decoration: none;
}
.logo a:hover,
.logo a:focus,
.logo a:active {
  color: #ffd700;
}
.header-text {
  padding-top: 100px;
}
@media (min-width: 768px) {
  .header-text {
    padding-top: 140px;
  }
}
@media (min-width: 1200px) {
  .header-text {
    padding-top: 180px;
  }
}
.header-text__h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "PT Sans";
  color: #FFF;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .header-text__h1 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .header-text__h1 {
    font-size: 48px;
  }
}
.header-text__p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "PT Sans";
  color: #FFF;
  font-weight: 400;
  line-height: 1.333;
}
@media (min-width: 768px) {
  .header-text__p {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .header-text__p {
    font-size: 18px;
  }
}
.scroll {
  display: none;
  margin-top: 130px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  Ilign-items: center;
}
@media (min-width: 768px) {
  .scroll {
    display: flex;
    margin-top: 160px;
  }
}
@media (min-width: 1200px) {
  .scroll {
    display: flex;
    margin-top: 150px;
  }
}
.scroll a {
  margin-bottom: 6px;
}
.scroll__text {
  font-size: 9px;
  font-family: "Roboto";
  line-height: 1.2;
  color: #FFF;
  display: none;
}
@media (min-width: 768px) {
  .scroll__text {
    display: block;
  }
}
.row--blog {
  margin-bottom: 20px;
}
.img-wrap {
  position: relative;
}
.img-wrap img {
  width: 100%;
  height: 300px;
}
.img-wrap:hover .img-wrap__hover {
  display: block;
  bottom: 0%;
}
.img-wrap__hover h3 {
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-top: 170px;
  margin-bottom: 12px;
}
@media (min-width: 480px) {
  .img-wrap__hover h3 {
    font-size: 24px;
  }
}
.img-wrap__hover {
  position: absolute;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  padding-left: 20px;
  cursor: pointer;
  -webkit-transition: bottom 0.5s ease-out;
  -moz-transition: bottom 0.5s ease-out;
  -ms-transition: bottom 0.5s ease-out;
  -o-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out;
}
.img-wrap__clock {
  display: inline-block;
  font-family: "PT Sans Narrow";
  font-size: 12px;
}
.img-wrap__clock i {
  padding-right: 8px;
}
.img-wrap__comments {
  font-size: 12px;
  font-family: "PT Sans Narrow";
  display: inline-block;
  padding-left: 20px;
}
.img-wrap__comments i {
  padding-right: 8px;
}
.col-md-5--padding-0 {
  padding-right: 0;
}
.col-md-7--padding-0 {
  padding-right: 0;
}
.title {
  text-align: center;
  font-size: 24px;
  font-family: "PT Sans Narrow";
  font-weight: bold;
  line-height: 1.2;
  color: #10131C;
  margin-bottom: 75px;
  margin-top: 50px;
}
.title-content {
  display: flex;
}
.block-img {
  margin-right: 16px;
}
h3 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  h3 {
    font-size: 14px;
  }
}
p {
  font-size: 10px;
  font-family: "Lato";
  color: #72848c;
  line-height: 1.2;
  margin-top: 7px;
}
@media (min-width: 768px) {
  p {
    font-size: 12px;
  }
}
.row--top {
  margin-bottom: 55px;
}
.our-text--battom {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .our-text--battom {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .our-text--battom {
    margin-bottom: 20px;
  }
}
.our-text--tree {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .our-text--tree {
    margin-bottom: 0;
  }
}
.works {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-shrink: 4;
  flex-shrink: 4;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 90px;
}
.works-image {
  position: relative;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.works-image__hover h3 {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-family: "PT Sans Narrow";
  line-height: 1.2;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .works-image__hover h3 {
    margin-top: 10px;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .works-image__hover h3 {
    margin-top: 20px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .works-image__hover h3 {
    margin-top: 60px;
    font-size: 24px;
  }
}
.works-image__content {
  color: #FFF;
  text-align: center;
  font-family: "Lato";
  font-size: 10px;
  line-height: 1.2;
}
.works-image__content p {
  color: #FFF;
  display: none;
}
@media (min-width: 1200px) {
  .works-image__content p {
    font-size: 12px;
    display: block;
  }
}
.works-image__hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  display: none;
}
.works-image:hover .works-image__hover {
  display: block;
  bottom: 0;
}
.works-image__share {
  margin-top: 15px;
}
.works-image__share span {
  font-size: 10px;
  font-family: "Lato";
  line-height: 1.2;
  margin-left: 5px;
}
.team-header {
  text-align: center;
  font-size: 24px;
  font-family: "PT Sans Narrow";
  color: #141a20;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 70px;
}
.team-block1__image {
  position: relative;
  text-align: center;
}
.team-block1__image__hover {
  position: absolute;
  background-image: url("../img/Our-team/Elipsa-1.jpg");
  text-align: center;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 24px;
  color: #FFF;
  display: none;
  cursor: pointer;
  padding-top: 130px;
  padding-bottom: 25px;
  -webkit-transition: top 0.5s ease-out;
  -moz-transition: top 0.5s ease-out;
  -ms-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
.team-block1__image__hover a {
  margin-right: 75px;
  text-align: center;
  color: #FEFEFE;
}
.team-block1__image__hover a:last-child {
  margin-right: 0;
}
.team-block1__title {
  text-align: center;
  margin: 0;
  padding: 0;
}
.team-block2__title {
  text-align: center;
}
.team-block3__title {
  text-align: center;
}
.team-content {
  margin-top: 46px;
  margin-bottom: 8px;
  font-size: 24px;
  font-family: "PT Sans Narrow";
  color: #324953;
  font-weight: bold;
  line-height: 1.2;
}
.team-content1 {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "PT Sans Narrow";
  color: #afbfc6;
  line-height: 1.2;
}
.team-content2 {
  font-size: 12px;
  font-family: "Lato";
  color: #72848c;
  line-height: 2.167;
}
.team-block1__image:hover .team-block1__image__hover {
  display: block;
  text-decoration: none;
  top: 0;
}
.wrapper-form {
  width: 100%;
  background-image: url("../img/form/Prostokat-4.jpg");
  margin-top: 130px;
  padding-bottom: 114px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.heading-form {
  font-size: 30px;
  font-family: "PT Sans Narrow";
  color: #10131c;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 70px;
  padding-bottom: 56px;
}
.contact-form {
  width: 100%;
}
.contact-form__left {
  font-size: 14px;
  font-family: "Roboto";
  color: #72848c;
  line-height: 1.2;
}
.contact-form__input {
  outline: none;
  padding-left: 25px;
  padding-top: 14px;
  padding-bottom: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #DEE7EB solid 1px;
  margin-bottom: 22px;
  width: 100%;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.contact-form__input:last-child {
  margin-bottom: 0;
}
.contact-form__input:active,
.contact-form__input:focus {
  border: #141A20 solid 1px;
}
.contact-form__submit {
  margin-top: 45px;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  display: none;
}
@media (min-width: 992px) {
  .contact-form__submit {
    display: block;
  }
}
.contact-form__submit--smoll {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 45px;
}
@media (min-width: 992px) {
  .contact-form__submit--smoll {
    display: none;
  }
}
.submit {
  padding: 15px 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background-color: #141A20;
  width: 100%;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.submit:hover {
  background-color: #21282F;
}
.form-raith__textarea {
  width: 100%;
  height: 300px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #DEE7EB solid 1px;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  margin-top: 40px;
  outline: none;
}
.form-raith__textarea:active,
.form-raith__textarea:focus {
  border: #141A20 solid 1px;
}
@media (min-width: 992px) {
  .form-raith__textarea {
    margin-top: 0;
  }
}
.footer-section {
  background: #141A20;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 52px;
  padding-bottom: 52px;
}
.footer-content {
  margin: 0;
  padding: 0;
}
.footer-content__logo {
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat";
  margin-bottom: 25px;
}
.footer-content__logo a {
  color: #FFF;
  line-height: 0.833;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-content__logo a:hover,
.footer-content__logo a:focus,
.footer-content__logo a:active {
  color: #BDB76B;
}
.footer-content__navigation {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.footer-content__navigation ul {
  margin: 0;
  padding: 0;
}
.footer-content__navigation ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-right: 32px;
}
.footer-content__navigation ul li:last-child {
  margin-right: 0;
}
.footer-content__navigation a {
  text-decoration: none;
  font-size: 13px;
  font-family: "Roboto";
  line-height: 1.2;
  color: #FFF;
}
.footer-content__navigation a:hover,
.footer-content__navigation a:focus,
.footer-content__navigation a:active {
  color: #BDB76B;
}
.footer-content__icon {
  text-align: center;
}
.footer-content__icon a {
  margin-right: 30px;
}
.footer-content__icon a:last-child {
  margin-right: 0;
}
